<div class="flex items-center justify-between space-y-4 md:space-y-0 p-4 bg-white">
    <div class="flex gap-4">
        <div>
            <input type="text" id="first_name" [(ngModel)]="firstName"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="First name" required>
        </div>
        <div>
            <input type="text" id="last_name" [(ngModel)]="lastName"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Last name" required>
        </div>
        <button type="button"
            class="text-white bg-purple-600 border border-purple-300 focus:outline-none hover:text-black hover:bg-purple-100 focus:ring-2 focus:ring-purple-200 font-medium rounded-lg text-sm px-3 py-1.5"
            (click)="onSearchContacts()">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
            <span class="sr-only">Search</span>
        </button>
    </div>
    <button
        class="text-white bg-purple-600 border border-purple-300 focus:outline-none hover:text-black hover:bg-purple-100 focus:ring-2 focus:ring-purple-200 font-medium rounded-lg text-sm px-3 py-1.5"
        type="button" (click)="onAddContactClick()">
        Add Contact
    </button>
</div>