<div class="relative overflow-x-auto shadow-lg sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100">
            <tr>
                <th scope="col" class="px-6 py-4 whitespace-nowrap">First Name</th>
                <th scope="col" class="px-6 py-4 whitespace-nowrap">Last Name</th>
                <th scope="col" class="px-6 py-4">Email</th>
                <th scope="col" class="px-6 py-4">Phone #</th>
                <th scope="col" class="px-6 py-4">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="contacts?.length">
            <tr *ngFor="let contact of contacts" class="bg-white border-b hover:bg-gray-50">
                <td scope="row" class="flex items-center px-6 py-4 whitespace-nowrap">
                    <div class="text-base">{{ contact?.firstName }}</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-base">{{ contact?.lastName }}</div>
                </td>
                <td class="px-6 py-4">
                    {{ contact?.email }}
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        {{ contact?.phoneNumber }}
                    </div>
                </td>
                <td class="px-6 py-4 flex gap-4">
                    <a href="javascript:void(0);" class="font-medium text-blue-600 hover:underline"
                        (click)="onEditContactClick(contact)">
                        Edit
                    </a>
                    <a href="javascript:void(0);" class="font-medium text-red-600 hover:underline"
                        (click)="onDeleteContactClick(contact?.id || 0)">
                        Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>